<div class="draggable">      
  <%= text_field_tag "text-field", "Text Field", :class => "form-element" %>
  <span class="ui-icon ui-icon-arrow-4 handle"></span>
</div>

<div class="draggable">      
  <%=  select_tag "select-tag", options_for_select(["Single Select"]), :class => 'form-element' %>
  <span class="ui-icon ui-icon-arrow-4 handle"></span>
</div>

<div class="draggable">      
  <%=  select_tag "select-tag", options_for_select(["Multiple Select"]), :multiple => true, :class => 'form-element' %>
  <span class="ui-icon ui-icon-arrow-4 handle"></span>
</div>