<% include_form_new_assets %>
<div id="builder">
  
  <div id="form-builder" class="ui-corner-all">
    <% form_for @form, :html => {:id => 'form'} do |form| %>
    <% end %>
  </div>

  <div id="pallette" class="ui-corner-all">
    <%= render :partial => 'form_elements' %>
  </div>
  
</div>

<div id="generator">
  <input value="Generate Form" type="submit" id="generate">
</div>
